@model Project_Technician.Models.Employee



    <div id="seleccion" class="card-header text-uppercase text-dark">
        <h4>FACTURA</h4>
        <h6>ALEXCOM</h6>



        <h3 class="article__title">
            <p class="text-monospace">
            <strong class="text-danger">Cliente:</strong> 
            @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
            </p>
        </h3>

        <p class="text-monospace">
            <strong class="text-danger">Numero de celular:</strong>
             @Html.DisplayFor(model => model.NumeroCelular)
            <strong class="text-danger">Correo:</strong> 
            @Html.DisplayFor(model => model.Correos)
        </p>


        <p class="text-monospace">
            <strong class="text-danger">Registrado con</strong> 
            @Html.DisplayFor(model => model.Cedula) 
            <strong class="text-danger">quien viene de la direccion</strong> 
            @Html.DisplayFor(model => model.direccion) 
            <strong class="text-danger">el dia</strong> 
            @Html.DisplayFor(model => model.FechaIngreso)
            <strong class="text-danger">con</strong> 
            @Html.DisplayFor(model => model.CantidadEquipos) 
            <strong class="text-danger">equipo</strong> 
            @Html.DisplayFor(model => model.Tipo) 
            <strong class="text-danger">de la marca</strong> 
            @Html.DisplayFor(model => model.Marca) 
            <strong class="text-danger"> afirmando que</strong> 
            @Html.DisplayFor(model => model.GarantiaMarca)
            <strong class="text-danger">tiene garantia por parte de la marca con el numero serial</strong>
            @Html.DisplayFor(model => model.Serial)
            <strong class="text-danger">aplicando para el servicio</strong>  
            @Html.DisplayFor(model => model.TipoServicio) 
            <strong class="text-danger">donde nos indica</strong> 
            @Html.DisplayFor(model => model.Descripcion)
        </p>

        <br />

        <p class="text-monospace">
            <strong class="text-danger">Se le hace entrega del</strong> 
            @Html.DisplayFor(model => model.Tipo) 
            <strong class="text-danger">el dia</strong> 
            @Html.DisplayFor(model => model.FechaEntrega) 
            <strong class="text-danger">donde se indica</strong> 
            @Html.DisplayFor(model => model.Respuesta)
            <strong class="text-danger">Aplica garantia</strong> 
            @Html.DisplayFor(model => model.GarantiaTecnica) 
            <strong class="text-danger">por ____ en caso de falla de parte se debe traer al sitio tecnico para ser revisada donde se analizara si el daño fue por parte de daños fisicos o daños tecnicos o ocasionado por el cliente.</strong>
            <strong class="text-danger">Costo total a pagar</strong> 
            $@Html.DisplayFor(model => model.Total)
        </p>

    </div>


<a href="javascript:imprSelec('seleccion')" class="btn btn-sm text-light bg-primary rounded-0 text-uppercase"></i>Imprimir</a>


<script>
    function imprSelec(nombre) {
	  var ficha = document.getElementById(nombre);
	  var ventimp = window.open(' ', 'popimpr');
	  ventimp.document.write( ficha.innerHTML );
	  ventimp.document.close();
	  ventimp.print( );
	  ventimp.close();
	}
</script>



