@model IEnumerable<Project_Technician.Models.Employee>


@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}


<center><h1 class="font-weight-light">Lista de Servicios</h1></center>

<style>


    .table-earnings {
        background: #F3F5F6;
    }

    table {
        display: block;
        height: 650px;
        overflow-y: auto;
    }

    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>


<p>
    <a href="../Home/New" class="btn btn-sm text-light bg-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i>Agregar</a>
    <a href="../Home/Index" class="btn btn-sm text-light bg-danger rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i>Regresar</a>
</p>



<!--filtrar por id="myTable-->
<center>
    <div class="col-md-4 form-control info-color">
        <input class="form-control my-0 py-1 amber-border" type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtrar" title="Filtrar">
    </div>
</center>

<table id="myTable" class="table text-monospace text-uppercase table-striped table-bordered"
       width="300">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullNombre)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarantiaMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarantiaTecnica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPagar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEquipos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correos)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                <p>
                    <a asp-action="Edit" asp-route-id="@item.IdPersona" class="btn btn-sm text-light bg-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i>Editar</a>
                    <br>
                    <a asp-action="Details" asp-route-id="@item.IdPersona" class="btn btn-sm text-light bg-info rounded-0 text-uppercase">Detalles</a>
                    <br>
                    <a asp-action="Delete" asp-route-id="@item.IdPersona" class="btn btn-sm text-light bg-danger rounded-0 text-uppercase">Eliminar</a>
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                <a href="~/images/@item.ProfilePicture"
                       class="rounded-circle"
                       height="50" width="50"
                       asp-append-version="true">


                        <img src="~/images/@item.ProfilePicture"
                             height="50" width="50"
                             asp-append-version="true" />
                             
                    </a>
                    <br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarantiaMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarantiaTecnica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPagar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEquipos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correos)
            </td>
        </tr>
}
    </tbody>
</table>

<script>function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>